<section>
    <img src="/assets/categoryHeader.jpg" class="w-full">
</section>

<section class="flex p-6 mt-20 mb-20 w-[65%] mr-auto ml-auto justify-center gap-16 shadow-md shadow-lg">
    <div class="flex items-center justify-center">
        <img class="max-w-96 duration-500 hover:scale-125" src={{product.image}}>
    </div>
    <div class="mt-10">
        <h2 class="bo text-[19px]">{{product.title}}</h2>
        <div class="flex gap-1 mb-3">
            <p class="text-[#9999A6] li text-[14px] ml-1">rate({{product && product.rating ? product.rating.rate : ''}}/5)</p>
            <p class="text-[#9999A6] li text-[14px] ml-1">in stock({{product && product.rating ? product.rating.count : ''}})</p>
        </div>
        <p class="text-[#6d6363] text-[16px] li">{{product.description}}</p>
        <p class="bo w-20 text-center text-xl border-t-2 border-b-2 mt-6 mb-6 border-black">${{product.price}}</p>
        <div class="flex items-center justify-center w-36 mb-7">
            <label for="numberInput" class="block">QUANTITY</label>
            <input #count id="count" type="number" class="border border-gray-300  h-8 w-14 ml-3 pl-5" min="1" max="100">
        </div>
        <p class="mt-3 bg-[#c0baba] hover:bg-[#E4901B] h-9 w-36 flex items-center justify-center cursor-pointer" (click)="handleNewElem()">ADD TO CART</p>
    </div>
</section>

<section class="mt-6 mb-8">
    <categoryCards page="home" num="3"/>
</section>