<app-home-head/>

<section class="ml-auto flex items-center justify-center gap-10 mt-10 mb-10">
    <img src="assets/first-slid.png"   class="h-56 hover:animate-pulse cursor-pointer">
    <img src="assets/second-slid.png"  routerLink="/category/women's clothing" class="h-56 hover:animate-pulse cursor-pointer">
</section>

<section class="text-center mb-10">
    <p class="text-[#666666] text-[20px]">New Products</p>
    <h2 class="bo text-[26px] text-[#333333]">SHOP THE NEW ARRIVALS</h2>
</section>

<section class="mb-16">
    <categoryCards page="home" num="200"/>
    <!-- <p class="ml-auto mr-auto mt-14 mb-16 bg-[#c0baba] hover:bg-[#E4901B] h-10 w-36 flex items-center justify-center cursor-pointer">SHOW MORE</p> -->
</section>