<section class="bg-[#d1d7da] pb-10">
    <section class="ml-[7%] pt-10">
        <h2 class="bo text-[26px]">Shopping Bag</h2>
        <p><span class="bo">2 items</span> in your bag</p>
    </section>

    <section class="w-[70%] bg-white mt-10 ml-auto mr-auto rounded-2xl shadow-lg shadow-xl p-10">
        <div class="flex justify-between mb-6">
            <p class="seb">Product</p>
            <p class="seb">Price</p>
            <p class="seb">Quantity</p>
            <p class="seb">Total Price</p>
        </div>
        <cartProduct/>
    </section>
</section>