<section class="bg-[#d1d7da] pb-10">
    <section class="ml-[7%] pt-10">
        <h2 class="bo text-[26px]">Shopping Bag</h2>
        <p><span class="bo">{{cacheService.len}} items</span> in your bag</p>
    </section>

    
    <section class="w-[80%] bg-white mt-10 ml-auto mr-auto rounded-2xl shadow-lg shadow-xl p-10">
        <div class="flex justify-between mb-10 items-center text-center">
            <p class="seb w-[10%]">Product</p>
            <p class="seb w-[12%]">Price</p>
            <p class="seb w-[10%]">Quantity</p>
            <p class="seb w-[10%]">Total Price</p>
        </div>
        @for(key of products; track key)
        {
            <cartProduct [key]="key"/>
        }
        <p routerLink="/home" (click)="deleteAll()" class=" mt-8 hover:animate-pulse bg-[#E4901B] h-10 w-36 flex items-center justify-center ml-auto cursor-pointer">CHECKOUT</p>
    </section>

</section>