<section class="h-[700px] bg-head flex flex-col justify-center items-end gap-2 pr-36 text-white">
    <h2 class="text-[72px] bo fadeIn">MEN FASHIONS 2024</h2>
    <h4 class="text-[30px] animate-bounce  ">SALE UP TO 30% OFF</h4>
    <p class="li">Mirum est notare quam littera gothicadd, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula.</p>
    <p routerLink="/category/men's clothing" class="mt-8 hover:animate-pulse bg-[#E4901B] h-10 w-36 flex items-center justify-center cursor-pointer">SHOP NOW</p>
</section>